@CHARSET "ISO-8859-1";

.logo{
    max-width: 245px;
    width: auto;
    height: auto;
    float:left;
    position:relative;
    top:-10px;
    margin-right: 20px;
}
.logo-container{

	    width: 250px;
}
.homepageContainer{
	box-shadow: 2px 4px 10px 0px black;
    border-radius: 0px !important;
    margin-top: 4%;
    padding-top:10px;
}

.headerNavbar{
	    box-shadow: 0px -4px 9px 0px black;
	
}
body { 
    padding-top: 100px; 
}

.loginForm{
		margin: 0  auto;
		max-width:40%
	}
	
.loginh2{
		text-align: center;
		margin-bottom:30px;
	
}
	
.buyContainer{
	
	text-align:center;
	margin: 0 auto;
}
.footer{
	
	 position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}


.shape{	
	border-style: solid;
	border-width: 0px 90px 53px 0; 
	float:right;
	height: 0px;
	width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}
.offer{
	background:#fff;
	border:1px solid #ddd; 
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
	margin: 15px 0; overflow:hidden;
}
.offer-radius{
	border-radius:7px;
}
.saleValid-false {	border-color: #d9534f; }
.saleValid-false .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.saleValid-true {	border-color: #5cb85c; }
.saleValid-true .shape{
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
	color:#fff; font-size:12px; 
	font-weight:bold; 
	position:relative; right:-40px; 
	top:2px; 
	white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}	
.offer-content{
	padding:0 20px 10px;
}
.SingleSale{
     display: inline-block;
     max-width: 300px;
    
}


.SaleContainer{
	margin: 0 auto;
	text-align: center;
}
.SaleContainer .btn{
    margin-top:50px;
    
}
.SaleDescription{
    text-align: left;
    font-size: 14px !important;
}