/* 
    Created on : 13-mag-2017, 13.29.17
    Author     : Manuele
*/
#grid {
    -fx-background-image: url(LeafBackground.jpg);
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}